name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install
        run: make install
      - name: Build Chrome + Firefox (Unsigned)
        run: make build-release-chrome firefox-unsigned
      # - name: Build Firefox (Signed)
      #   env:
      #     WEB_EXT_API_KEY: ${{ secrets.AMO_JWT_ISSUER }}
      #     WEB_EXT_API_SECRET: ${{ secrets.AMO_JWT_SECRET }}
      #   run: make firefox-signed
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            dist/noshorts-*-chrome.zip
            dist/noshorts-*-firefox-unsigned.xpi
            dist/noshorts-*-firefox-signed.xpi
